from:
<select [(ngModel)]="query.from">
  <option *ngFor="let key of symbolsKeys" [value]="key">
    {{key}} - {{symbols[key]}}
  </option>
</select>
<br />
to:
<select [(ngModel)]="query.to">
  <option *ngFor="let key of symbolsKeys" [value]="key">
    {{key}} - {{symbols[key]}}
  </option>
</select>
<br />
amount: <input type="number" [(ngModel)]="amount" />
<br />
<button (click)="getCurrency()">Get </button>
<hr />
<div *ngIf="error">Error on currency fetch, please try again</div>
<div *ngIf="!error">RESULT: {{result}}</div>

<hr />